@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab:300,700");
body {
  margin: 0; }

a {
  text-decoration: none; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.main-header {
  overflow: hidden;
  height: 20em;
  border-bottom: 1px solid #0B132B; }
  .main-header .main-header-parts {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    align-items: stretch;
    -ms-flex-align: stretch;
    list-style: none; }
    .main-header .main-header-parts .main-header-part.logo {
      width: 20em;
      background-color: #F7F7FF; }
      .main-header .main-header-parts .main-header-part.logo img {
        width: 100%; }
    .main-header .main-header-parts .main-header-part.navigation {
      position: relative;
      width: 50%;
      background-color: #0B132B;
      padding: 5em 1em 1em;
      -webkit-flex-grow: 1;
      -moz-flex-grow: 1;
      flex-grow: 1;
      -ms-flex-positive: 1;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: justify;
      -webkit-box-align: stretch;
      -moz-box-align: stretch;
      box-align: stretch;
      -webkit-align-items: stretch;
      -moz-align-items: stretch;
      -ms-align-items: stretch;
      -o-align-items: stretch;
      align-items: stretch;
      -ms-flex-align: stretch; }
      .main-header .main-header-parts .main-header-part.navigation .site-title {
        margin: 0;
        text-align: center;
        font-size: 4.20873em;
        font-weight: bold; }
        .main-header .main-header-parts .main-header-part.navigation .site-title a {
          font-family: "Roboto Slab", serif;
          color: #F7F7FF;
          padding: 0.2em 0.5em;
          border: 1px solid #F7F7FF; }
    .main-header .main-header-parts .main-header-part.information {
      width: 26.25em;
      background-color: #403D66;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-box-align: stretch;
      -moz-box-align: stretch;
      box-align: stretch;
      -webkit-align-items: stretch;
      -moz-align-items: stretch;
      -ms-align-items: stretch;
      -o-align-items: stretch;
      align-items: stretch;
      -ms-flex-align: stretch; }
      .main-header .main-header-parts .main-header-part.information .connexion {
        height: 70%; }
      .main-header .main-header-parts .main-header-part.information .research {
        height: 30%;
        background-color: #F76C6C;
        padding: 1em;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        -webkit-box-align: stretch;
        -moz-box-align: stretch;
        box-align: stretch;
        -webkit-align-items: stretch;
        -moz-align-items: stretch;
        -ms-align-items: stretch;
        -o-align-items: stretch;
        align-items: stretch;
        -ms-flex-align: stretch; }
        .main-header .main-header-parts .main-header-part.information .research .search-form {
          position: relative; }
          .main-header .main-header-parts .main-header-part.information .research .search-form label .search-field {
            height: 3em;
            width: 90%;
            padding: 0.5em;
            background-color: transparent;
            border: 1px solid #F7F7FF;
            border-right: none;
            color: #F7F7FF;
            font-family: "Raleway", sans-serif; }
          .main-header .main-header-parts .main-header-part.information .research .search-form .search-submit {
            padding: 0.5em;
            height: 3em;
            width: 10%;
            position: absolute;
            top: 0;
            right: 0;
            background-color: transparent;
            border: 1px solid #F7F7FF;
            border-left: none; }
            .main-header .main-header-parts .main-header-part.information .research .search-form .search-submit .fa {
              color: #F7F7FF;
              font-size: 1.333em; }

.menu-header-menu-container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0; }
  .menu-header-menu-container .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    box-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: distribute;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    align-items: stretch;
    -ms-flex-align: stretch; }
    .menu-header-menu-container .menu .menu-item {
      width: 100%;
      text-align-last: center; }
      .menu-header-menu-container .menu .menu-item a {
        padding: 1em;
        display: block;
        width: 100%;
        color: #F7F7FF;
        font-family: "Roboto Slab", serif;
        font-size: 1.77689em; }
